# Cache
.cache/

# Example files
Getting_started.py
Local_code_execution.py
OAI_CONFIG_LIST_local
Sequence_test_ext.py
Sequence_test.py
motivation_letter.docx

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore environment-specific files
.env
*.env


# Ignore other unnecessary files or folders
.idea/
.vscode/
.DS_Store
